RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?$1 [L,QSA]

# https://stackoverflow.com/questions/12551382/what-does-1-qsa-l-mean-in-my-htaccess-file